body {
    background: radial-gradient(rgb(7, 7, 7), #1f252a);
    color: white;
    overflow-y: hidden;
    height: 100vh;
    user-select: none;
    font-family: khInterference;
}

@font-face {
    font-family: 'khInterference';
    src: url('../fonts/KHFont/WOFF2/KHInterferenceTRIAL-Regular.woff2')
}

@font-face {
    font-family: 'khInterference';
    src: url('../fonts/KHFont/WOFF2/KHInterferenceTRIAL-Bold.woff2')
}

@font-face {
    font-family: 'khInterference';
    src: url('../fonts/KHFont/WOFF2/KHInterferenceTRIAL-Light.woff2')
}

.title {
    display:flex;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
}

.title #bold {
    font-weight:bold;
}

h2 {
    font-family: khInterference;
    font-weight: normal;
}

p {
    font-family: khReg;
}

.maincon {
    margin: auto;
    margin-top: 450px;
    width: fit-content;
    text-align: center;
}

.animcon {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.animcursor {
    margin-top: 25px;
    margin-left: 5px;
    width: 12px;
    height: 3px;
    background-color: white;
}


@font-face {
    font-family: khBold;
    src: url("../fonts/KHFont/OTF/KHInterferenceTRIAL-Regular.otf");
}

@font-face {
    font-family: khReg;
    src: url("../fonts/KHFont/OTF/KHInterferenceTRIAL-Light.otf");
}