body {
    background: radial-gradient(rgb(7, 7, 7), #1f252a);
    color: white;
    overflow-y: hidden;
    height: 100vh;
    user-select: none;
    font-family: khReg;
}

.title {
    display:flex;
    justify-content: center;
    flex-direction: row;
    font-size: 35px;
    margin:0;
}

#subtitle {
    font-size: 25px;
}

#bold {
    font-weight:bold;
}

h2 {
    font-family: khReg;
    font-weight: normal;
}

/* p {
    font-family: khReg;
} */

.maincon {
    /* margin: auto; */
    /* margin-top: 450px; */
    margin-top: 25vh;
    /* width: fit-content; */
    /* text-align: center; */
    margin-left:5vw;
    margin-right:5vw;
    text-align:center;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    width:100px;
    /* height:auto; */
    margin-bottom:20px;
}

.animcon {
    margin-top:10px;
    justify-content: center;
    display:inline-flex;
    flex-direction: row;
    /* display: flex;
    flex-direction: row; */
    /* margin-left: 10px; */
}

.animcursor {
    /* margin-top: 27px;
    margin-left: 5px; */
    width: 15px;
    height: 3px;
    margin-top:18px;
    margin-left: 5px;
    background-color: white;
}


@font-face {
    font-family: khBold;
    src: url("../fonts/kh-interf/KHInterf-Regular.woff2");
}

@font-face {
    font-family: khReg;
    src: url("../fonts/kh-interf/KHInterf-Light.woff2");
}

@media (max-width:500px) {
    .title {
        font-size: 20px;
    }
    #subtitle {
        font-size: 15px;
    }
    .animcursor {
        margin-top:12px;
        margin-left:2.5px;
        width: 10px;
        height: 2px;
    }
    #logo {
        width:60px;
        margin-bottom:15px;
    }
}